/* 


/* Header Start */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Montserrat', sans-serif; */
}

#header-section {
  width: 100%;
  height: 55px;
  background-color: transparent;
}

.mainheader {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.5s;
}
.is-sticky {
  -webkit-box-shadow: 0px 5px 29px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 29px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 29px -6px rgba(0, 0, 0, 0.2);
  background-color: #fff !important;
  color: #d9b805 !important;
}

#header-section .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #91a701;
  font-weight: 500;
  /* font-size: 18px; */
  transition: all 0.5s;
}

.nav-link .is-sticky {
  color: #d9b805;
}

#header-section .nav-link:hover {
  color: #d9b805;
}

#header-section .active .nav-link {
  color: #d9b805;
}

#header-section .dropdown {
  padding-left: 20px;
}

#header-section .dropdown-menu {
  background-color: #d9b805;
}

#header-section .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1b8c07;
}

/* Header Responsive */

@media (max-width: 991px) {
  /* #header-section {
    height: auto;
  } */

  #header-section .nav-link{
    color: #1b8c07;
    font-weight: 600;
  }

  #header-section .navbar-toggler-icon {
    width: 0;
    height: 0;
  }

  #header-section .navbar-toggler i {
    color: #91a701;
  }

  #header-section button:focus {
    outline: 0;
  }

  #header-section .dropdown {
    padding-left: 0;
    padding-top: 20px;
  }

  #header-section .navbar-collapse {
    padding: 20px 20px;
    background-color: #91a701;
  }
}
/* Header End */

/* Footer Start */

#footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* padding: 20px 0; */
  /* background: linear-gradient(to bottom, #dcb902 0%,#85a403 50%,#198b05 100%); */
  background-color: #91a701;
}

#footer h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

#footer .ft_cnt {
  text-align: center;
}

#footer .ft_cnt .m_link {
  padding: 0px 10px;
  font-size: 22px;
  color: #208d06;
}

#footer .ft_cnt .c_link {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #208d06;
  text-decoration: none;
}

#footer .ft_cnt .divider {
  padding: 0 5px;
  color: #fff;
}

#footer .ft_cnt p {
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

#footer .ft_cnt .s_link {
  padding: 0px 5px;
}

#footer .ft_cnt .copyright p {
  color: #1b8c07;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
